    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>
                    For over 15 years, I've thrived in the dynamic world of construction. I'm a highly experienced Senior Planner at <a href="https://mclarengroup.com" target="_blank">McLaren Construction Group</a>, based in London. I've been fortunate to work on a diverse range of projects, from local authority residential schemes to high-rise boutique hotels, and from data centers and shopping centres to large-scale exhibition facilities and city-centre office buildings. My expertise lies in managing these large-scale projects, ensuring efficient delivery while adhering to the highest quality and standards.
                </p>
                <p>
                    My educational background underpins this expertise. I hold an MBA in Innovation Management, which enhances my strategic thinking, and a Bachelor's Degree in Information Technology. Additionally, I possess an NVQ Level 6 in Construction Management, providing a robust technical foundation. This unique blend of education and experience enables me to approach project planning with fresh perspectives and innovative solutions.
                </p>
                <p>
                    Beyond technical proficiency, I am committed to excellence. As a member of the <a href="https://www.ciob.org" target="_blank">Chartered Institute of Building (CIOB)</a>, I continuously strive to stay current with industry best practices and contribute to the advancement of our profession.
                </p>
                <p>
                    See my <a href="https://www.linkedin.com/in/alisufyan/" target="_blank">LinkedIn</a> Profile to know more | <a href="https://www.linkedin.com/in/alisufyan/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </p>
                
            </div>
        </div>
    </section>
